/*
Example:

```
$ eg -t tools_eg/table_driven_test.template -w tools_eg/table_driven_test.go
eg: map[string]struct{} is not a safe replacement for struct{name string}
```
*/
package main

func before(name string) any {
	return struct{ name string }{name: name}
}

func after(name string) any {
	return map[string]struct{}{name: {}}
}
