name: ci
on:
  push:
    branches:
      - "*"
    paths:
      - "go.*"
      - "**/*.go"
      - ".github/workflows/*.yml"
env:
  CACHE_VERSION: 1
  GOPATH: /home/runner/work/go
  GOBIN: /home/runner/work/go/bin
concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: "${{ github.ref != 'refs/heads/main' }}"
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
      - uses: actions/cache@v3
        id: cache
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-lint-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-lint-
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          cache: false
          go-version-file: "go.mod"
      - name: Run golangci-lint
        run: |
          make lint
